################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode/ipch
/Streaming/.vs/Streaming/v16
